.ResumeCard {

    min-height: 6rem;
    @media screen and (min-width: $screen-small) {
        min-height: 8rem;
    }

    &-text {
        margin-top: 0.75rem;
        padding-left: 1rem;
        @media screen and (min-width: $screen-small) {
             margin-top: 1.5rem;
        }

        &-details {
            color: $color-light-text;
        }
    }
}