// Color Palette - color-hex.com/color-palette/3569
$color-main: #ff6347;
$color-accent: #00bfff;
$color-light-text: #555;
$color-text: #1e1e1e;

$screen-small: 30em;
$screen-large: 60em;

.App {
  text-align: center;
  color: $color-text;
}

.card {
  box-shadow: 0 1px 4px rgba(0,0,0,0.16), 0 1px 4px rgba(0,0,0,0.23);
  border-radius: .25rem;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
}

@import 'scenes/scenes';
@import 'components/components';
@import '../node_modules/tachyons-sass/tachyons';